<div class="bg-gray-900 text-white pb-8 pt-32">
  <!-- Marquee Container -->
  <div #marqueeContainer class="marquee-container">
    <div #marqueeTrack class="marquee-track">
      <!-- Skeleton Loaders -->
      <ng-container *ngIf="isMarqueeLoading; else albumImages">
        <div
          *ngFor="let _ of skeletonArray"
          class="skeleton w-32 h-32 sm:w-40 sm:h-40 md:w-48 md:h-48"
        ></div>
      </ng-container>

      <!-- Actual Images (Rendered after loading) -->
      <ng-template #albumImages></ng-template>
    </div>
  </div>
</div>

<!-- Heading -->
<div class="text-center max-w-5xl mx-auto px-4">
  <h1 class="title-text text-4xl md:text-5xl font-extrabold tracking-tight">
    Explore Your Favorite Music
  </h1>
  <p class="mt-2 text-lg text-gray-300">
    Find and review songs, albums, and artists you love
  </p>
</div>

<!-- Search Bar -->
<div #searchBar class="relative mt-8 w-full max-w-md sm:max-w-lg mx-auto px-4">
  <input
    type="text"
    autofocus
    [(ngModel)]="query"
    (keyup.enter)="onSearch()"
    placeholder="Search music & artists..."
    class="w-full rounded-full bg-gray-800 border border-gray-700 text-white py-3 pl-5 pr-12 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none text-xl text-ellipsis overflow-hidden"
    style="direction: ltr; text-align: left"
  />
  <button
    (click)="onSearch()"
    class="absolute inset-y-0 right-10 flex items-center"
  >
    <svg
      class="h-6 w-6 text-indigo-500 hover:text-white transition"
      fill="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        d="M21 21l-5.2-5.2m2.2-6a7 7 0 11-14 0 7 7 0 0114 0z"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</div>

<!-- Loading Indicator -->
<div
  *ngIf="isLoading"
  class="mt-6 w-full max-w-3xl mx-auto flex justify-center"
>
  <div
    class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-opacity-50"
  ></div>
</div>

<!-- Skeleton Loader -->
<div
  *ngIf="isLoading"
  class="mt-6 mx-auto mb-6 bg-gray-800 p-6 rounded-lg shadow-lg w-[calc(100%-1rem)] sm:w-full max-w-3xl"
>
  <div class="animate-pulse space-y-4">
    <div class="h-6 bg-gray-700 rounded w-1/4 mx-auto"></div>
    <div class="h-6 bg-gray-700 rounded w-3/4 mx-auto"></div>

    <!-- Skeleton Loader for Songs -->
    <div class="mt-4 space-y-4">
      <div
        *ngFor="let i of [1, 2, 3, 4, 5]"
        class="flex items-center bg-gray-800 p-4 rounded-lg"
      >
        <div class="h-24 w-24 md:h-28 md:w-28 bg-gray-700 rounded-md"></div>
        <div class="flex flex-col justify-center flex-grow pl-4 space-y-2">
          <div class="h-5 bg-gray-700 rounded w-1/2"></div>
          <div class="h-4 bg-gray-600 rounded w-1/3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- No Results Found -->
<div
  *ngIf="searchAttempted && !isLoading && !resultsHasValues()"
  class="mt-12 text-center text-gray-400 text-lg"
>
  <i class="fas fa-search-minus text-4xl mb-2"></i>
  <p>No results found. Try searching for something else.</p>
</div>

<!-- Toggle Buttons -->
<div
  *ngIf="
    results &&
    !isLoading &&
    ((results.songs?.length ?? 0) > 0 ||
      (results.albums?.length ?? 0) > 0 ||
      (results.artists?.length ?? 0) > 0)
  "
  class="mt-6 flex !gap-1 sm:!gap-4 justify-center"
>
  <button
    (click)="setActiveTab('songs')"
    [class.bg-indigo-600]="activeTab === 'songs'"
    class="px-4 py-2 rounded-md hover:bg-indigo-500 transition text-xl font-bold title-text"
  >
    Songs
  </button>
  <button
    *ngIf="results && (results.albums?.length ?? 0) > 0"
    (click)="setActiveTab('albums')"
    [class.bg-indigo-600]="activeTab === 'albums'"
    class="px-4 py-2 rounded-md hover:bg-indigo-500 transition text-xl font-bold title-text"
  >
    Albums
  </button>
  <button
    *ngIf="results && (results.artists?.length ?? 0) > 0"
    (click)="setActiveTab('artists')"
    [class.bg-indigo-600]="activeTab === 'artists'"
    class="px-4 py-2 rounded-md hover:bg-indigo-500 transition text-xl font-bold title-text"
  >
    Artists
  </button>
</div>

<!-- Search Results -->
<div
  *ngIf="resultsHasValues() && !isLoading"
  class="mt-6 w-full max-w-3xl mx-auto"
>
  <!-- Songs -->
  <div
    *ngIf="activeTab === 'songs'"
    class="mt-6 mx-auto mb-6 bg-gray-800 p-6 rounded-lg shadow-lg w-[calc(100%-1rem)] sm:w-full max-w-5xl"
  >
    <div class="relative mb-6">
      <h2 class="text-2xl font-bold text-white text-center">Songs</h2>

      <!-- Filter Button Wrapper -->
      <div class="absolute right-0 top-0">
        <button
          #filterButton
          (click)="toggleGenreFilter('songs')"
          class="p-2 rounded-md transition flex items-center gap-2"
          [ngClass]="
            selectedGenre.songs
              ? 'bg-blue-600 hover:bg-blue-500'
              : 'bg-gray-700 hover:bg-gray-600'
          "
        >
          <i class="fas fa-filter"></i>
          <span class="hidden sm:inline">
            {{ selectedGenre.songs ? selectedGenre.songs : "Filter" }}
          </span>
        </button>

        <!-- Genre Filter Dropdown (Songs) -->
        <div
          #dropdownContainer
          *ngIf="showGenreDropdown.songs"
          class="absolute right-0 mt-2 w-48 bg-gray-900/90 backdrop-blur-md p-3 rounded-lg shadow-xl z-10 border border-gray-700"
        >
          <!-- "Clear Filter" Option (Only Shows When a Filter is Applied) -->
          <button
            *ngIf="selectedGenre.songs"
            (click)="clearFilter('songs')"
            class="flex items-center justify-center w-full text-left text-white py-1 rounded-md transition border border-red-500 text-red-500 hover:bg-red-500 hover:text-white font-medium mb-2"
          >
            <i class="fas fa-times mr-2"></i> Clear
          </button>

          <!-- Smooth Scroll for Many Items -->
          <div class="custom-scrollbar max-h-60 overflow-y-auto pr-2">
            <button
              *ngFor="let genre of genres.songs"
              (click)="filterByGenre('songs', genre)"
              class="block w-full text-left px-4 py-1 mb-1 rounded-md transition font-medium"
              [ngClass]="
                selectedGenre.songs === genre
                  ? 'bg-blue-500 text-white shadow-md hover:bg-blue-400'
                  : 'hover:bg-gray-600/80'
              "
            >
              {{ genre }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <ul class="mt-2 space-y-4">
      <li
        *ngFor="let song of filteredResults.songs"
        class="flex flex-row cursor-pointer items-center bg-gray-700 p-2 rounded-lg transition-transform duration-300 ease-in-out hover:translate-y-1 hover:scale-105 hover:bg-gray-700/50 hover:shadow-xl hover:border hover:border-blue-400"
        (click)="openModal(song)"
      >
        <!-- Image -->
        <img
          [src]="song.cover"
          alt="Cover"
          class="h-28 w-28 md:h-32 md:w-32 rounded-md object-cover shadow-md border border-gray-600 flex-shrink-0"
        />

        <!-- Text Container -->
        <div class="flex flex-col justify-center flex-1 min-w-0 pl-4">
          <p
            class="text-lg md:text-xl font-semibold text-white leading-tight title-text break-words overflow-hidden whitespace-normal"
          >
            {{ song.title }}
          </p>

          <p class="text-sm md:text-base text-gray-400 mt-1">
            <span
              *ngIf="song?.isExplicit"
              class="inline-flex items-center justify-center bg-gray-600 text-white text-[10px] font-bold w-5 h-5 px-[1px] rounded leading-none mr-1 whitespace-nowrap align-middle"
              title="Explicit"
            >
              E
            </span>
            {{ song.artist }}
          </p>
        </div>
      </li>
    </ul>
  </div>

  <!-- Albums -->
  <div
    *ngIf="activeTab === 'albums'"
    class="mt-6 mx-auto mb-6 bg-gray-800 p-6 rounded-lg shadow-lg w-[calc(100%-1rem)] sm:w-full max-w-5xl"
  >
    <div class="relative mb-6">
      <h2 class="text-2xl font-bold text-white text-center">Albums</h2>

      <!-- Filter Button Wrapper -->
      <div class="absolute right-0 top-0">
        <button
          #filterButton
          (click)="toggleGenreFilter('albums')"
          class="p-2 rounded-md transition flex items-center gap-2"
          [ngClass]="
            selectedGenre.albums
              ? 'bg-blue-600 hover:bg-blue-500'
              : 'bg-gray-700 hover:bg-gray-600'
          "
        >
          <i class="fas fa-filter"></i>
          <span class="hidden sm:inline">
            {{ selectedGenre.albums ? selectedGenre.albums : "Filter" }}
          </span>
        </button>

        <!-- Genre Filter Dropdown (Albums) -->
        <div
          #dropdownContainer
          *ngIf="showGenreDropdown.albums"
          class="absolute right-0 mt-2 w-48 bg-gray-900/90 backdrop-blur-md p-3 rounded-lg shadow-xl z-10 border border-gray-700"
        >
          <!-- "Clear Filter" Option (Only Shows When a Filter is Applied) -->
          <button
            *ngIf="selectedGenre.albums"
            (click)="clearFilter('albums')"
            class="flex items-center justify-center w-full text-left text-white py-1 rounded-md transition border border-red-500 text-red-500 hover:bg-red-500 hover:text-white font-medium mb-2"
          >
            <i class="fas fa-times mr-2"></i> Clear
          </button>

          <!-- Smooth Scroll for Many Items -->
          <div class="custom-scrollbar max-h-60 overflow-y-auto pr-2">
            <button
              *ngFor="let genre of genres.albums"
              (click)="filterByGenre('albums', genre)"
              class="block w-full text-left px-4 py-1 mb-1 rounded-md transition font-medium"
              [ngClass]="
                selectedGenre.albums === genre
                  ? 'bg-blue-500 text-white shadow-md hover:bg-blue-400'
                  : 'hover:bg-gray-600/80'
              "
            >
              {{ genre }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <ul
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-6 justify-center"
    >
      <li
        *ngFor="let album of filteredResults.albums"
        class="group flex flex-col cursor-pointer items-center p-4 rounded-md transition-transform duration-300 ease-in-out hover:translate-y-1 hover:scale-105 hover:bg-gray-700/50 hover:shadow-xl hover:border hover:border-blue-400"
        (click)="openModal(album)"
      >
        <img
          [src]="album.cover"
          alt="Album Cover"
          class="h-28 w-28 sm:h-32 sm:w-32 md:h-36 md:w-36 lg:h-40 lg:w-40 xl:h-44 xl:w-44 rounded-md object-cover shadow-md border-2 border-gray-600"
        />
        <p
          class="title-text mt-2 text-lg text-white text-center font-semibold w-full max-w-xs sm:overflow-hidden sm:text-ellipsis sm:whitespace-nowrap group-hover:whitespace-normal group-hover:overflow-visible group-hover:max-w-none"
        >
          {{ album.title }}
        </p>
        <p
          class="text-base text-gray-400 text-center w-full max-w-xs sm:overflow-hidden sm:text-ellipsis sm:whitespace-nowrap group-hover:whitespace-normal group-hover:overflow-visible group-hover:max-w-none"
        >
          {{ album.artist }}
        </p>
      </li>
    </ul>
  </div>

  <!-- Artists -->
  <div
    *ngIf="activeTab === 'artists'"
    class="mt-6 mx-auto mb-6 bg-gray-800 p-6 rounded-lg shadow-lg w-[calc(100%-1rem)] sm:w-full max-w-5xl"
  >
    <div class="relative mb-6">
      <h2 class="text-2xl font-bold text-white text-center mb-5">Artists</h2>
      <ul
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-6 justify-center"
      >
        <li
          *ngFor="let artist of filteredResults.artists"
          class="group flex flex-col cursor-pointer items-center p-4 rounded-md transition-transform duration-300 ease-in-out hover:translate-y-1 hover:scale-105 hover:bg-gray-700/50 hover:shadow-xl hover:border hover:border-blue-400"
          (click)="openModal(artist)"
        >
          <img
            [src]="artist.picture"
            alt="Artist"
            class="h-28 w-28 sm:h-32 sm:w-32 md:h-36 md:w-36 lg:h-40 lg:w-40 xl:h-44 xl:w-44 rounded-md object-cover shadow-md border-2 border-gray-600"
            />
          <p
            class="mt-2 text-lg text-white text-center max-w-full font-semibold title-text sm:overflow-hidden sm:text-ellipsis sm:whitespace-nowrap group-hover:whitespace-normal group-hover:overflow-visible group-hover:max-w-none"
          >
            {{ artist.name }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
