@media screen and (max-width: 360px) {
    .imageFix {
        width: 6rem !important;
        height: 6rem !important;
    }
}

@media screen and (min-width: 495px) {
    .imageFix {
        width: 12rem;
        height: 12rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .buttons {
        width: 17rem;
        }
}