<app-navbar *ngIf="shouldShowNavbar()"></app-navbar>

<!-- Animation wrapper -->
<main [@routeAnimations]="prepareRoute(activeOutlet)">
  <!-- Loader fallback -->
  <div
    *ngIf="!profileLoaded"
    class="full-screen-loader z-50 fixed inset-0 flex items-center justify-center bg-[#09101F] text-white"
  >
    <div class="background-underlay"></div>
    <div class="blur-overlay">
      <div class="equalizer-loader">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
        <span class="bar bar4"></span>
        <span class="bar bar5"></span>
      </div>
    </div>
  </div>

  <!-- Routed content -->
  <ng-container *ngIf="profileLoaded">
    <router-outlet #outlet="outlet" (activate)="setActiveOutlet(outlet)"></router-outlet>
  </ng-container>
</main>
