<div class="sticky top-0 z-30 md:pt-[6rem] w-full bg-[#0F1722]">
  <!-- Buttons Row with shared border -->
  <div class="relative bg-[#09101F] border-b border-b-gray-800">
    <div class="flex justify-around items-center h-[3.5rem] relative">
      <!-- Highlight Underline: mobile -->
      <div
        class="absolute bottom-[0rem] h-[2px] bg-[#4C79F4] transition-all duration-300 md:hidden"
        [ngStyle]="{
          width:
            activeDiscoverTab === 'mainSearch'
              ? '60px'
              : activeDiscoverTab === 'popular'
              ? '85px'
              : '90px',
          left:
            activeDiscoverTab === 'mainSearch'
              ? 'calc(16.66% - 30px)'
              : activeDiscoverTab === 'popular'
              ? 'calc(50% - 42.5px)'
              : 'calc(83.33% - 45px)'
        }"
      ></div>

      <!-- Highlight Underline: md+ -->
      <div
        class="absolute bottom-[0rem] h-[2px] bg-[#4C79F4] transition-all duration-300 hidden md:block"
        [ngStyle]="{
          width:
            activeDiscoverTab === 'mainSearch'
              ? '110px'
              : activeDiscoverTab === 'popular'
              ? '105px'
              : '110px',
          left:
            activeDiscoverTab === 'mainSearch'
              ? 'calc(16.66% - 55px)'
              : activeDiscoverTab === 'popular'
              ? 'calc(50% - 52.5px)'
              : 'calc(83.33% - 55px)'
        }"
      ></div>

      <!-- Main Search -->
      <button
        (click)="setActiveDiscoverTab('mainSearch')"
        class="flex flex-col items-center justify-center flex-1"
      >
        <span
          [ngClass]="{
            'text-gray-200 font-semibold': activeDiscoverTab === 'mainSearch',
            'text-gray-400': activeDiscoverTab !== 'mainSearch'
          }"
          class="text-lg md:text-2xl"
        >
          Search
        </span>
      </button>

      <!-- Popular -->
      <button
        (click)="setActiveDiscoverTab('popular')"
        class="flex flex-col items-center justify-center flex-1"
      >
        <span
          [ngClass]="{
            'text-gray-200 font-semibold': activeDiscoverTab === 'popular',
            'text-gray-400': activeDiscoverTab !== 'popular'
          }"
          class="text-lg md:text-2xl"
        >
          Popular
        </span>
      </button>

      <!--  Activity -->
      <button
        (click)="setActiveDiscoverTab('recentActivity')"
        class="flex flex-col items-center justify-center flex-1"
      >
        <span
          [ngClass]="{
            'text-gray-200 font-semibold':
              activeDiscoverTab === 'recentActivity',
            'text-gray-400': activeDiscoverTab !== 'recentActivity'
          }"
          class="text-lg md:text-2xl"
        >
          Activity
        </span>
      </button>
    </div>
  </div>
</div>

<div [hidden]="activeDiscoverTab !== 'mainSearch'">
  <!-- Heading -->
  <div class="text-center max-w-5xl mx-auto px-3">
    <h1 class="text-3xl md:text-5xl font-extrabold tracking-tight mt-5">
      Explore Music
    </h1>
    <p class="mt-1 text-base md:text-xl text-gray-300">
      The marquee below updates with new music every Friday to inspire your next
      search.
    </p>
  </div>
  <div
    class="bg-[#09101F] text-white pb-[0.5rem] md:pb-8 pt-[0.5rem] md:pt-[0.5rem]"
  >
    <!-- Marquee Container -->
    <div #marqueeContainer class="marquee-container">
      <div class="marquee-track" *ngIf="!isMarqueeLoading; else loading">
        <!-- First copy -->
        <ng-container *ngFor="let album of albums; let i = index">
          <div
            class="album-card bg-[#1F2937] p-3 rounded-lg w-[12rem] md:w-[17rem]"
            (click)="openModal(album, albums, i)"
          >
            <div
              class="relative w-full h-[11rem] md:h-[16rem] rounded overflow-hidden border border-gray-800"
            >
              <!-- Loader -->
              <div
                *ngIf="!marqueeImageLoaded[i]"
                class="absolute inset-0 flex items-center justify-center bg-gray-800"
              >
                <div
                  class="w-5 h-5 border-t-2 border-white rounded-full animate-spin"
                ></div>
              </div>

              <!-- Image -->
              <img
                [src]="
                  album.cover ||
                  'https://res.cloudinary.com/drbccjuul/image/upload/e_improve:outdoor/m2bmgchypxctuwaac801'
                "
                [alt]="album.title"
                (load)="marqueeImageLoaded[i] = true"
                (error)="marqueeImageLoaded[i] = true"
                [class.invisible]="!marqueeImageLoaded[i]"
                class="w-full h-full object-cover"
              />
            </div>

            <div class="track-info w-full overflow-hidden">
              <p
                class="title text-base md:text-lg truncate w-full text-left font-semibold"
                [title]="album.title"
              >
                {{ album.title }}
              </p>
              <p
                class="artist text-sm md:text-base text-gray-400 truncate w-full text-left"
                [title]="album.artist"
              >
                <span
                  *ngIf="album?.isExplicit"
                  class="inline-flex items-center justify-center bg-gray-600 text-white text-[12px] font-bold w-5 h-5 px-[1px] rounded leading-none mr-1 whitespace-nowrap align-middle"
                  title="Explicit"
                >
                  E
                </span>
                {{ album.artist }}
              </p>
            </div>
          </div>
        </ng-container>

        <!-- Second copy (duplicate for infinite scroll) -->
        <ng-container *ngFor="let album of albums; let i = index">
          <div
            class="album-card bg-[#1F2937] p-3 rounded-lg w-[12rem] md:w-[17rem]"
            (click)="openModal(album, albums, i)"
          >
            <div
              class="relative w-full h-[11rem] md:h-[16rem] rounded overflow-hidden border border-gray-800"
            >
              <!-- Loader -->
              <div
                *ngIf="!marqueeImageLoaded[i + albums.length]"
                class="absolute inset-0 flex items-center justify-center bg-gray-800"
              >
                <div
                  class="w-5 h-5 border-t-2 border-white rounded-full animate-spin"
                ></div>
              </div>

              <!-- Image -->
              <img
                [src]="
                  album.cover ||
                  'https://res.cloudinary.com/drbccjuul/image/upload/e_improve:outdoor/m2bmgchypxctuwaac801'
                "
                [alt]="album.title"
                (load)="marqueeImageLoaded[i + albums.length] = true"
                (error)="marqueeImageLoaded[i + albums.length] = true"
                [class.invisible]="!marqueeImageLoaded[i + albums.length]"
                class="w-full h-full object-cover"
              />
            </div>

            <div class="track-info w-full overflow-hidden">
              <p
                class="title text-base md:text-lg truncate w-full text-left"
                [title]="album.title"
              >
                {{ album.title }}
              </p>
              <p
                class="artist text-sm md:text-base text-gray-400 truncate w-full text-left"
                [title]="album.artist"
              >
                <span
                  *ngIf="album?.isExplicit"
                  class="inline-flex items-center justify-center bg-gray-600 text-white text-[12px] font-bold w-5 h-5 px-[1px] rounded leading-none mr-1 whitespace-nowrap align-middle"
                  title="Explicit"
                >
                  E
                </span>
                {{ album.artist }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>

      <ng-template #loading>
        <div
          class="marquee-track"
          [ngClass]="{
            'animate-marquee': !isLoading,
            'static-marquee': isLoading
          }"
        >
          <div
            *ngFor="let _ of skeletonArray"
            class="skeleton-card bg-[#1F2937] p-3 rounded-lg h-[15.2rem] md:h-[20.7rem] w-[12rem] md:w-[17rem] mx-[0.5rem] shrink-0"
          >
            <div class="skeleton-img"></div>
            <div class="skeleton-text-group w-full flex flex-col items-start">
              <div class="skeleton-text mt-3 h-4 w-3/4"></div>
              <div class="skeleton-text mt-2 h-4 w-1/2"></div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Search Bar -->
  <div
    #searchBar
    class="relative mt-5 md:mt-1 w-full max-w-md sm:max-w-lg mx-auto px-4"
  >
    <input
      type="search"
      [disabled]="isLoading"
      autofocus
      [(ngModel)]="query"
      (keydown.enter)="onSearch('songs')"
      placeholder="Search music & artists"
      class="w-full rounded-full bg-gray-800 border border-gray-700 text-white py-3 pl-5 pr-12 focus:ring-2 focus:ring-white-500 focus:border-white-500 outline-none text-lg text-ellipsis overflow-hidden"
      style="direction: ltr; text-align: left"
    />
    <button
      [disabled]="isLoading"
      (click)="onSearch('songs')"
      class="absolute inset-y-0 right-10 flex items-center"
    >
      <svg
        class="h-6 w-6 text-[#4C79F4] md:hover:text-white transition"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M21 21l-5.2-5.2m2.2-6a7 7 0 11-14 0 7 7 0 0114 0z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>

  <!-- Search Tabs with Sliding Highlight -->
  <div *ngIf="searchAttempted || isLoading" class="mt-6 flex justify-center">
    <div class="relative flex bg-gray-800 rounded-full p-1 w-fit">
      <!-- Sliding highlight -->
      <div
        class="absolute top-0 left-0 h-full bg-[#0F5EE4] rounded-full transition-all duration-300"
        [ngStyle]="{
          width: 100 / 3 + '%',
          transform: 'translateX(' + getActiveSearchTabIndex() * 100 + '%)'
        }"
      ></div>

      <!-- Buttons -->
      <button
        (click)="onSearch('songs', false)"
        [disabled]="isLoading"
        class="relative z-10 w-[6.5rem] md:w-[8rem] py-2 text-base md:text-xl rounded-full transition text-center"
        [ngClass]="{
          'text-white font-semibold': activeTab === 'songs',
          'text-gray-300': activeTab !== 'songs'
        }"
      >
        Songs
      </button>
      <button
        (click)="onSearch('albums', false)"
        [disabled]="isLoading"
        class="relative z-10 w-[6.5rem] md:w-[8rem] py-2 text-base md:text-xl rounded-full transition text-center"
        [ngClass]="{
          'text-white font-semibold': activeTab === 'albums',
          'text-gray-300': activeTab !== 'albums'
        }"
      >
        Albums
      </button>
      <button
        (click)="onSearch('artists', false)"
        [disabled]="isLoading"
        class="relative z-10 w-[6.5rem] md:w-[8rem] py-2 text-base md:text-xl rounded-full transition text-center"
        [ngClass]="{
          'text-white font-semibold': activeTab === 'artists',
          'text-gray-300': activeTab !== 'artists'
        }"
      >
        Artists
      </button>
    </div>
  </div>

  <!-- Skeleton Loader -->
  <div
    *ngIf="isLoading"
    class="mx-auto mb-2 pt-6 rounded-lg shadow-lg sm:w-full max-w-3xl"
  >
    <div class="animate-pulse space-y-2">
      <!-- Skeleton Loader for Songs -->
      <div class="space-y-4">
        <div
          *ngFor="let i of [1, 2, 3, 4, 5]"
          class="flex items-center p-4 rounded-lg"
        >
          <div class="h-20 w-20 md:h-32 md:w-32 bg-gray-700 rounded-md"></div>
          <div class="flex flex-col justify-center flex-grow pl-4 space-y-2">
            <div class="h-5 bg-gray-700 rounded w-1/2"></div>
            <div class="h-4 bg-gray-600 rounded w-1/3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Results -->
  <div
    *ngIf="resultsHasValues() && !isLoading"
    class="mt-6 w-full max-w-3xl mx-auto pb-[4rem] sm:pb-1"
  >
    <!-- Songs -->
    <div
      *ngIf="activeTab === 'songs'"
      class="mt-6 mx-auto mb-6 p-1 pt-1 sm:p-3 rounded-lg shadow-lg sm:w-full max-w-5xl"
    >
      <div class="relative mb-[2.8rem]">
        <!-- Filter Button Wrapper -->
        <div class="absolute right-0 top-0 pr-1">
          <button
            #filterButton
            (click)="toggleGenreFilter('songs')"
            class="p-2 rounded-md transition flex items-center gap-2 md:text-xl"
            [ngClass]="
              selectedGenre.songs ? 'bg-blue-600 md:hover:bg-blue-500' : ''
            "
          >
            <span class="inline">
              {{ selectedGenre.songs ? selectedGenre.songs : "Filter" }}
            </span>
            <i class="fas fa-filter text-base"></i>
          </button>

          <!-- Genre Filter Dropdown (Songs) -->
          <div
            #dropdownContainer
            *ngIf="showGenreDropdown.songs"
            class="absolute right-0 mt-2 w-48 bg-[#09101F]/90 backdrop-blur-md p-3 rounded-lg shadow-xl z-10 border border-gray-700"
          >
            <!-- "Clear Filter" Option (Only Shows When a Filter is Applied) -->
            <button
              *ngIf="selectedGenre.songs"
              (click)="clearFilter('songs')"
              class="flex items-center justify-center w-full text-left text-white py-1 rounded-md transition border border-red-500 text-red-500 md:hover:bg-red-500 md:hover:text-white font-medium mb-2"
            >
              <i class="fas fa-times mr-2"></i> Clear
            </button>

            <!-- Smooth Scroll for Many Items -->
            <div class="custom-scrollbar max-h-60 overflow-y-auto pr-2">
              <button
                *ngFor="let genre of genres.songs"
                (click)="filterByGenre('songs', genre)"
                class="block w-full text-left px-4 py-1 mb-1 rounded-md transition font-medium text-lg"
                [ngClass]="
                  selectedGenre.songs === genre
                    ? 'bg-blue-500 text-white shadow-md md:hover:bg-blue-400'
                    : 'md:hover:bg-gray-600/80'
                "
              >
                {{ genre }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <ul class="mt-2 space-y-2">
        <li
          *ngFor="let song of filteredResults.songs; let i = index"
          class="flex flex-row cursor-pointer items-center p-2 transition-transform duration-300 ease-in-out md:hover:translate-y-[.2rem] md:hover:scale-[101%] md:hover:bg-gray-700/50 md:hover:shadow-xl md:hover:border md:hover:border-blue-400 md:hover:rounded-lg"
          (click)="openModal(song)"
        >
          <!-- Image -->
          <div class="relative h-20 w-20 md:h-32 md:w-32 flex-shrink-0">
            <!-- Loader -->
            <div
              *ngIf="!imageLoaded.songs[i]"
              class="absolute inset-0 flex items-center justify-center rounded-md border border-gray-800 bg-gray-900"
            >
              <div
                class="w-5 h-5 border-t-2 border-white rounded-full animate-spin"
              ></div>
            </div>

            <!-- Image -->
            <img
              [src]="
                song.cover ||
                'https://res.cloudinary.com/drbccjuul/image/upload/e_improve:outdoor/m2bmgchypxctuwaac801'
              "
              (load)="imageLoaded.songs[i] = true"
              [class.invisible]="!imageLoaded.songs[i]"
              alt="Cover"
              class="h-20 w-20 md:h-32 md:w-32 rounded-md object-cover shadow-md border border-gray-800"
            />
          </div>
          <!-- Text Container -->
          <div class="flex flex-col justify-center flex-1 min-w-0 pl-4">
            <p
              class="text-lg md:text-xl font-semibold text-white leading-tight truncate overflow-hidden whitespace-nowrap"
              title="{{ song.title }}"
            >
              {{ song.title }}
            </p>

            <p
              class="text-sm md:text-base text-gray-400 mt-1 truncate overflow-hidden whitespace-nowrap"
              title="{{ song.artist }}"
            >
              <span
                *ngIf="song?.isExplicit"
                class="inline-flex items-center justify-center bg-gray-600 text-white text-[12px] font-bold w-5 h-5 px-[1px] rounded leading-none mr-1 whitespace-nowrap align-middle"
                title="Explicit"
              >
                E
              </span>
              {{ song.artist }}
            </p>
          </div>
        </li>
      </ul>
    </div>

    <!-- Albums -->
    <div
      *ngIf="activeTab === 'albums'"
      class="mt-6 mx-auto mb-6 p-1 rounded-lg shadow-lg sm:w-full max-w-5xl"
    >
      <div class="relative mb-[2.8rem]">
        <!-- Filter Button Wrapper -->
        <div class="absolute right-0 top-0 pr-1">
          <button
            #filterButton
            (click)="toggleGenreFilter('albums')"
            class="p-2 rounded-md transition flex items-center gap-2 md:text-xl"
            [ngClass]="
              selectedGenre.albums ? 'bg-blue-600 md:hover:bg-blue-500' : ''
            "
          >
            <span class="inline">
              {{ selectedGenre.albums ? selectedGenre.albums : "Filter" }}
            </span>
            <i class="fas fa-filter text-base"></i>
          </button>

          <!-- Genre Filter Dropdown (Albums) -->
          <div
            #dropdownContainer
            *ngIf="showGenreDropdown.albums"
            class="absolute right-0 mt-2 w-48 bg-[#09101F]/90 backdrop-blur-md p-3 rounded-lg shadow-xl z-10 border border-gray-700"
          >
            <!-- "Clear Filter" Option (Only Shows When a Filter is Applied) -->
            <button
              *ngIf="selectedGenre.albums"
              (click)="clearFilter('albums')"
              class="flex items-center justify-center w-full text-left text-white py-1 rounded-md transition border border-red-500 text-red-500 md:hover:bg-red-500 md:hover:text-white font-medium mb-2"
            >
              <i class="fas fa-times mr-2"></i> Clear
            </button>

            <!-- Smooth Scroll for Many Items -->
            <div class="custom-scrollbar max-h-60 overflow-y-auto pr-2">
              <button
                *ngFor="let genre of genres.albums"
                (click)="filterByGenre('albums', genre)"
                class="block w-full text-left px-4 py-1 mb-1 rounded-md transition font-medium"
                [ngClass]="
                  selectedGenre.albums === genre
                    ? 'bg-blue-500 text-white shadow-md md:hover:bg-blue-400'
                    : 'md:hover:bg-gray-600/80'
                "
              >
                {{ genre }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <ul class="mt-2 space-y-2">
        <li
          *ngFor="let album of filteredResults.albums; let i = index"
          class="flex flex-row cursor-pointer items-center p-2 transition-transform duration-300 ease-in-out md:hover:translate-y-[.2rem] md:hover:scale-[101%] md:hover:bg-gray-700/50 md:hover:shadow-xl md:hover:border md:hover:border-blue-400 md:hover:rounded-lg"
          (click)="openModal(album)"
        >
          <!-- Image -->
          <div class="relative h-20 w-20 md:h-32 md:w-32 flex-shrink-0">
            <!-- Loader -->
            <div
              *ngIf="!imageLoaded.albums[i]"
              class="absolute inset-0 flex items-center justify-center rounded-md border border-gray-800 bg-gray-900"
            >
              <div
                class="w-5 h-5 border-t-2 border-white rounded-full animate-spin"
              ></div>
            </div>

            <!-- Image -->
            <img
              [src]="
                album.cover ||
                'https://res.cloudinary.com/drbccjuul/image/upload/e_improve:outdoor/m2bmgchypxctuwaac801'
              "
              (load)="imageLoaded.albums[i] = true"
              [class.invisible]="!imageLoaded.albums[i]"
              alt="Album Cover"
              class="h-20 w-20 md:h-32 md:w-32 rounded-md object-cover shadow-md border border-gray-800"
            />
          </div>

          <!-- Text Container -->
          <div class="flex flex-col justify-center flex-1 min-w-0 pl-4">
            <p
              class="text-lg md:text-xl font-semibold text-white leading-tight truncate"
              title="{{ album.title }}"
            >
              {{ album.title }}
            </p>
            <p
              class="text-sm md:text-base text-gray-400 mt-1 truncate overflow-hidden whitespace-nowrap"
              title="{{ album.artist }}"
            >
              <span
                *ngIf="album?.isExplicit"
                class="inline-flex items-center justify-center bg-gray-600 text-white text-[12px] font-bold w-5 h-5 px-[1px] rounded leading-none mr-1 whitespace-nowrap align-middle"
                title="Explicit"
              >
                E
              </span>
              {{ album.artist }}
            </p>
          </div>
        </li>
      </ul>
    </div>

    <!-- Artists -->
    <div
      *ngIf="activeTab === 'artists'"
      class="mt-6 mx-auto mb-6 p-1 rounded-lg shadow-lg sm:w-full max-w-5xl"
    >
      <div class="relative mb-[2.8rem]">
        <ul class="mt-2 2">
          <li
            *ngFor="let artist of filteredResults.artists; let i = index"
            class="flex flex-row cursor-pointer items-center p-2 transition-transform duration-300 ease-in-out md:hover:translate-y-[.2rem] md:hover:scale-[101%] md:hover:bg-gray-700/50 md:hover:shadow-xl md:hover:border md:hover:border-blue-400 md:hover:rounded-lg"
            (click)="openModal(artist)"
          >
            <!-- Image -->
            <div class="relative h-20 w-20 md:h-32 md:w-32 flex-shrink-0">
              <!-- Loader -->
              <div
                *ngIf="!imageLoaded.artists[i]"
                class="absolute inset-0 flex items-center justify-center rounded-md border border-gray-800 bg-gray-900"
              >
                <div
                  class="w-5 h-5 border-t-2 border-white rounded-full animate-spin"
                ></div>
              </div>

              <!-- Image -->
              <img
                [src]="
                  artist.picture ||
                  'https://res.cloudinary.com/drbccjuul/image/upload/v1750168658/t74iybj36xjrifpp7wzc.png'
                "
                (load)="imageLoaded.artists[i] = true"
                [class.invisible]="!imageLoaded.artists[i]"
                alt="Artist"
                class="h-20 w-20 md:h-32 md:w-32 rounded-md object-cover shadow-md border border-gray-800"
              />
            </div>

            <!-- Text Container -->
            <div class="flex flex-col justify-center flex-1 min-w-0 pl-4">
              <p
                class="text-lg md:text-xl font-semibold text-white leading-tight truncate overflow-hidden whitespace-nowrap"
                title="{{ artist.name }}"
              >
                {{ artist.name }}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- No Results Found -->
  <div
    *ngIf="searchAttempted && !isLoading && !resultsHasValues()"
    class="pb-[10rem]"
  >
    <div
      class="mt-12 mx-4 text-center text-gray-400 text-lg bg-gray-800 p-4 rounded-lg"
    >
      <i class="fas fa-search-minus text-4xl mb-2"></i>
      <p>No results found. Try searching for something else.</p>
    </div>
  </div>
</div>

<!-- Popular Section -->
<div [hidden]="activeDiscoverTab !== 'popular'">
  <div class="bg-[#09101F] text-white min-h-screen pt-[1rem] pb-[6rem] px-1">
    <div class="md:max-w-[1000px] md:mx-auto">
      <!-- Loaded Content -->
      <div>
        <!-- Type Selector -->
        <div
          class="relative flex bg-gray-800 rounded-full p-1 w-fit mx-auto mb-2 mt-2"
        >
          <!-- Sliding Highlight -->
          <div
            class="absolute top-0 left-0 h-full bg-[#0F5EE4] rounded-full transition-all duration-300"
            [ngStyle]="{
              width: 100 / popularTypes.length + '%',
              transform: 'translateX(' + getPopularTypeIndex() * 100 + '%)'
            }"
          ></div>

          <!-- Toggle Buttons -->
          <ng-container *ngFor="let type of popularTypes">
            <button
              (click)="setPopularType(type)"
              class="relative z-10 w-[6.5rem] md:w-[8rem] py-2 text-base md:text-xl rounded-full transition text-center"
              [ngClass]="{
                'text-white font-semibold': activePopularType === type,
                'text-gray-300': activePopularType !== type
              }"
            >
              {{ type }}s
            </button>
          </ng-container>
        </div>

        <!-- Ranked List -->
        <div class="pl-[.2rem] pr-2 py-4">
          <!-- Headers -->
          <div
            class="flex items-center mb-3 border-t-[.1rem] border-b-[.1rem] border-gray-600 py-2"
          >
            <!-- Rank Header -->
            <div
              class="text-lg md:text-2xl font-semibold text-gray-400 w-6 mr-2 text-center"
            >
              #
            </div>

            <!-- Album Cover Placeholder -->
            <div class="w-16 sm:w-20 md:w-[7rem]"></div>

            <!-- Info Header -->
            <div class="ml-4 flex-1 overflow-hidden">
              <p class="text-lg md:text-2xl font-semibold text-gray-400">
                {{ activePopularType === "Artist" ? "Name" : "Title" }}
              </p>
            </div>

            <!-- Rating Header -->
            <div class="text-lg md:text-2xl font-semibold text-gray-400 pl-2">
              <i class="fas fa-star text-yellow-500"></i> / 10
            </div>
          </div>

          <!-- Loading Indicator -->
          <div
            *ngIf="isDiscoverContentLoading"
            class="mt-6 w-full max-w-3xl mx-auto flex flex-col items-center justify-center"
          >
            <div
              class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-opacity-50"
            ></div>
            <p class="mt-4 text-gray-400 text-lg md:text-2xl">
              Loading Top {{ activePopularType }}s...
            </p>
          </div>

          <!-- Records -->
          <div *ngIf="!isDiscoverContentLoading">
            <div
              *ngFor="let record of popularRecords; let i = index"
              class="flex items-center mb-3 last:mb-0"
              (click)="openModal(record, popularRecords, i)"
            >
              <!-- Rank -->
              <div class="text-3xl text-[#F1F1F1] w-6 mr-2 text-center">
                {{ i + 1 }}.
              </div>

              <!-- Album/Artist Cover -->
              <div
                class="relative w-16 h-16 sm:w-20 sm:h-20 md:w-[7rem] md:h-[7rem] flex-shrink-0"
              >
                <!-- Loader -->
                <div
                  *ngIf="!popularImageLoaded[getPopularKey()][i]"
                  class="absolute inset-0 flex items-center justify-center rounded border border-gray-600 bg-gray-900"
                >
                  <div
                    class="w-5 h-5 border-t-2 border-white rounded-full animate-spin"
                  ></div>
                </div>

                <!-- Image -->
                <img
                  [src]="
                    activePopularType === 'Artist'
                      ? record.picture ||
                        'https://res.cloudinary.com/drbccjuul/image/upload/v1750168658/t74iybj36xjrifpp7wzc.png'
                      : record.cover ||
                        record.picture ||
                        'https://res.cloudinary.com/drbccjuul/image/upload/e_improve:outdoor/m2bmgchypxctuwaac801'
                  "
                  (load)="popularImageLoaded[getPopularKey()][i] = true"
                  [class.invisible]="!popularImageLoaded[getPopularKey()][i]"
                  alt="Media"
                  class="w-16 h-16 sm:w-20 sm:h-20 md:w-[7rem] md:h-[7rem] object-cover rounded border border-gray-600"
                />
              </div>

              <!-- Info -->
              <div class="ml-4 flex-1 overflow-hidden">
                <p
                  class="text-lg md:text-2xl font-semibold truncate whitespace-nowrap"
                >
                  {{ record.title || record.name }}
                </p>
                <p
                  class="text-sm text-gray-400 capitalize truncate whitespace-nowrap"
                >
                  <span
                    *ngIf="record?.isExplicit"
                    class="inline-flex items-center justify-center bg-gray-600 md:mb-[.2rem] text-white text-[12px] w-4 h-4 md:text-[14px] md:w-5 md:h-5 font-bold px-[1px] rounded leading-none mr-1 whitespace-nowrap align-middle"
                    title="Explicit"
                  >
                    E
                  </span>
                  <span class="md:text-lg">{{ record.artist }}</span>
                </p>
              </div>

              <!-- Rating -->
              <div class="text-2xl font-semibold text-[#FFD700] pl-2">
                {{ record.avgRating }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Activity Section -->
<div [hidden]="activeDiscoverTab !== 'recentActivity'">
  <div class="bg-[#09101F] text-white min-h-screen pt-4 pb-24 px-2">
    <div class="md:max-w-[1000px] md:mx-auto">
      <div
        class="relative flex bg-gray-800 rounded-full p-1 w-fit mx-auto mb-5 mt-2"
      >
        <!-- Sliding Highlight -->
        <div
          class="absolute top-0 left-0 h-full w-1/2 bg-[#0F5EE4] rounded-full transition-all duration-300"
          [ngStyle]="{
            transform:
              activeFeedType === 'Artists'
                ? 'translateX(100%)'
                : 'translateX(0%)'
          }"
        ></div>

        <!-- Buttons -->
        <ng-container *ngFor="let feedType of activityFeedTypes">
          <button
            (click)="setFeedType(feedType)"
            class="relative z-10 w-28 py-2 text-lg md:text-xl rounded-full transition"
            [ngClass]="{
              'text-white font-semibold': activeFeedType === feedType,
              'text-gray-300': activeFeedType !== feedType
            }"
          >
            {{ feedType }}
          </button>
        </ng-container>
      </div>
      <div class="w-full border-b border-gray-700 mb-4"></div>

      <!-- Activity Feed Loaded -->
      <div *ngIf="activeFeedType == 'Friends'">
        <div
          *ngIf="activityFeed.length > 0"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="150"
          (scrolled)="onScrollActivityFeed()"
        >
          <div *ngIf="activityFeed.length > 0; else noActivity">
            <div class="space-y-4 md:space-y-8">
              <div
                *ngFor="
                  let activity of activityFeed;
                  let i = index;
                  last as isLast
                "
                class="px-1 pb-4"
                [ngClass]="{
                  'border-b border-gray-600': !isLast,
                  'mt-1': i === 0
                }"
              >
                <!-- Review + Album layout -->
                <div class="block md:pb-[3rem]">
                  <!-- Float Right: Album Art + Rating -->
                  <div
                    class="float-right flex flex-col items-end ml-4 w-[6rem] md:w-[10rem] pb-1 relative"
                  >
                    <!-- Review Type Icon -->
                    <div
                      class="absolute top-0 left-0 bg-gray-700 p-1.5 rounded-full shadow-md transform -translate-x-2 -translate-y-2 z-10"
                    >
                      <i
                        class="fas text-sm md:text-xl"
                        [ngClass]="{
                          'fa-music text-blue-400':
                            activity.albumSongOrArtist.effectiveType === 'Song',
                          'fa-compact-disc text-green-400':
                            activity.albumSongOrArtist.effectiveType ===
                            'Album',
                          'fa-user text-purple-400':
                            activity.albumSongOrArtist.effectiveType ===
                            'Artist'
                        }"
                        title="{{ activity.albumSongOrArtist.effectiveType }}"
                      ></i>
                    </div>
                    <div class="relative w-full h-[6rem] md:h-[10rem]">
                      <!-- Loader -->
                      <div
                        *ngIf="!activityImageLoaded[i]"
                        class="absolute inset-0 flex items-center justify-center rounded border border-gray-600 bg-gray-900"
                      >
                        <div
                          class="w-5 h-5 border-t-2 border-white rounded-full animate-spin"
                        ></div>
                      </div>

                      <!-- Image -->
                      <img
                        [src]="
                          activity.albumSongOrArtist.effectiveType === 'Artist'
                            ? activity.albumSongOrArtist.picture ||
                              'https://res.cloudinary.com/drbccjuul/image/upload/v1750168658/t74iybj36xjrifpp7wzc.png'
                            : activity.albumSongOrArtist.cover ||
                              activity.albumSongOrArtist.picture ||
                              'https://res.cloudinary.com/drbccjuul/image/upload/e_improve:outdoor/m2bmgchypxctuwaac801'
                        "
                        (load)="activityImageLoaded[i] = true"
                        [class.invisible]="!activityImageLoaded[i]"
                        (click)="
                          openModal(
                            activity.albumSongOrArtist,
                            activityRecords,
                            i
                          )
                        "
                        alt="Album Cover"
                        class="w-full h-[6rem] md:h-[10rem] rounded object-cover border border-gray-600"
                      />
                    </div>

                    <!-- Star + Rating on one line, no wrap -->
                    <span
                      class="text-[1.4rem] md:text-3xl font-bold text-[#0F5EE4] mt-2 inline-flex items-center whitespace-nowrap"
                    >
                      <i
                        class="fas fa-star text-yellow-500 text-xl md:text-2xl mr-1"
                      ></i>
                      {{ activity.rating }}
                      <span class="text-gray-400 text-[1rem] md:text-xl ml-1"
                        >/ 10</span
                      >
                    </span>
                  </div>

                  <!-- Review block wraps beside or under album -->
                  <div>
                    <p
                      class="text-[#0F5EE4] text-lg md:text-2xl font-semibold line-clamp-2"
                    >
                      <span
                        (click)="
                          openModal(
                            activity.albumSongOrArtist,
                            activityRecords,
                            i
                          )
                        "
                        >{{
                          activity.albumSongOrArtist.title ||
                            activity.albumSongOrArtist.name
                        }}</span
                      >
                    </p>
                    <p
                      class="text-sm text-gray-400 capitalize whitespace-nowrap overflow-hidden text-ellipsis"
                    >
                      <span
                        *ngIf="activity.albumSongOrArtist?.isExplicit"
                        class="inline-flex items-center justify-center bg-gray-600 text-white text-[12px] w-4 h-4 md:text-[15px] md:w-5 md:h-5 font-bold px-[1px] rounded md:mr-2 leading-none mr-1 align-middle"
                        title="Explicit"
                      >
                        E
                      </span>
                      <span
                        class="md:text-xl"
                        (click)="
                          openModal(
                            activity.albumSongOrArtist,
                            activityRecords,
                            i
                          )
                        "
                        >{{ activity.albumSongOrArtist.artist }}</span
                      >
                    </p>
                    <p class="text-white text-base md:text-xl mt-2">
                      <ng-container *ngIf="activity.reviewText; else noReview">
                        {{ activity.reviewText }}
                      </ng-container>
                      <ng-template #noReview>
                        <p
                          class="text-gray-400 italic text-base md:text-xl mt-2 font-serif"
                        >
                          “ No review written ”
                        </p>
                      </ng-template>
                    </p>
                  </div>
                </div>

                <!-- Bottom: Profile Info and like button-->
                <div class="flex items-center justify-between mt-[3rem] w-full">
                  <!-- Left: profile picture + username -->
                  <div
                    class="flex items-center gap-2 cursor-pointer"
                    (click)="goToUserProfile(activity.user._id)"
                  >
                    <div
                      class="relative w-[4rem] h-[4rem] rounded-full overflow-hidden"
                    >
                      <!-- Loader -->
                      <div
                        *ngIf="!getActivityImageLoaded(i, 'profile')"
                        class="absolute inset-0 flex items-center justify-center bg-gray-800 border border-gray-600 rounded-full"
                      >
                        <div
                          class="w-4 h-4 border-t-2 border-white rounded-full animate-spin"
                        ></div>
                      </div>

                      <!-- Profile Picture -->
                      <img
                        [src]="
                          activity.user.profilePicture || 'assets/user.png'
                        "
                        (load)="setActivityImageLoaded(i, 'profile')"
                        (error)="setActivityImageLoaded(i, 'profile')"
                        [class.invisible]="
                          !getActivityImageLoaded(i, 'profile')
                        "
                        alt="User"
                        class="w-[4rem] h-[4rem] rounded-full object-cover"
                      />
                    </div>

                    <div class="text-base md:text-xl text-gray-400">
                      <p class="font-semibold text-white leading-tight">
                        {{ activity.user.username }}
                      </p>
                      <p class="text-sm md:text-lg mt-1">
                        {{ activity.createdAt | timeAgo }}
                      </p>
                    </div>
                  </div>

                  <!-- Right: like button -->
                  <button
                    (click)="toggleLike(activity)"
                    class="flex items-center space-x-2 px-3 py-1 bg-gray-800 border border-gray-600 rounded-full text-white hover:bg-gray-700 transition"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      [attr.fill]="
                        activity.likedByCurrentUser ? '#ec4899' : 'white'
                      "
                      viewBox="0 0 24 24"
                      class="w-5 h-5 transition-transform duration-300 ease-out"
                      [ngClass]="animateHeart[activity._id] ? 'scale-125' : ''"
                    >
                      <path
                        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
           2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09 
           C13.09 3.81 14.76 3 16.5 3c3.08 0 5.5 2.42 5.5 5.5 
           0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                      />
                    </svg>
                    <span class="text-yellow-400 font-semibold text-lg">
                      {{ activity.likes }}
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- End-of-feed message -->
          <div
            *ngIf="!hasMoreActivityFeed"
            class="text-center text-base md:text-xl text-gray-400 mt-[2rem]"
          >
            You have reached the end of your feed.
          </div>
        </div>
      </div>

      <!-- Modern Spinner Loader -->
      <div
        *ngIf="isFetchingActivityFeed"
        class="flex flex-col items-center justify-center py-6"
      >
        <div
          class="animate-spin rounded-full h-10 w-10 border-t-4 border-blue-500 border-opacity-50"
        ></div>
        <p class="mt-4 text-gray-400 text-lg md:text-2xl">
          Loading Friends Feed...
        </p>
      </div>

      <!-- No activity message -->
      <ng-template #noActivity>
        <div
          class="text-center text-gray-400 mt-8 text-lg italic bg-gray-800 p-4 rounded-lg"
        >
          No activity to display yet.
        </div>
      </ng-template>

      <!-- Artist Activities Feed -->
      <div *ngIf="activeFeedType === 'Artists'">
        <div
          *ngIf="!isLoading && artistFeed.length > 0"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="150"
          (scrolled)="loadMoreArtistsFeed()"
          class="space-y-3"
        >
          <div
            *ngFor="let release of artistFeed; let i = index"
            class="flex items-start p-2 rounded-lg w-full overflow-hidden"
            (click)="
              openModal(
                transformReleaseToModalRecord(release),
                artistFeed.map(transformReleaseToModalRecord),
                i
              )
            "
          >
            <div class="relative h-20 w-20 md:h-32 md:w-32 flex-shrink-0">
              <!-- Loader -->
              <div
                *ngIf="!artistImageLoaded[i]"
                class="absolute inset-0 flex items-center justify-center rounded-md border border-gray-800 bg-gray-900"
              >
                <div
                  class="w-5 h-5 border-t-2 border-white rounded-full animate-spin"
                ></div>
              </div>

              <!-- Image -->
              <img
                [src]="
                  release.cover ||
                  'https://res.cloudinary.com/drbccjuul/image/upload/e_improve:outdoor/m2bmgchypxctuwaac801'
                "
                (load)="artistImageLoaded[i] = true"
                (error)="artistImageLoaded[i] = true"
                [class.invisible]="!artistImageLoaded[i]"
                alt="Cover"
                class="h-20 w-20 md:h-32 md:w-32 rounded-md object-cover shadow-md border border-gray-800"
              />
            </div>

            <div class="flex-1 text-white max-w-full overflow-hidden">
              <!-- Text Container -->
              <div class="flex flex-col justify-center flex-1 min-w-0 pl-4">
                <p
                  class="text-lg md:text-2xl font-semibold text-white leading-tight truncate overflow-hidden whitespace-nowrap max-w-full"
                  title="{{ release.title }}"
                >
                  {{ release.title }}
                </p>

                <p
                  class="text-sm md:text-lg text-gray-400 mt-2 truncate overflow-hidden whitespace-nowrap"
                  title="{{ release.artistName }}"
                >
                  <span
                    *ngIf="release?.isExplicit"
                    class="inline-flex items-center justify-center bg-gray-600 text-white text-[12px] font-bold w-[1.1rem] h-[1.1rem] md:text-[15px] md:w-5 md:h-5 px-[1px] rounded leading-none mr-1 whitespace-nowrap align-middle"
                    title="Explicit"
                  >
                    E
                  </span>
                  {{ release.artistName }}
                </p>
                <div class="text-xs md:text-base text-gray-500 mt-2">
                  {{ getReleaseLabel(release.releaseDate) }}
                </div>
              </div>
            </div>
          </div>

          <!-- End-of-feed message -->
          <div
            *ngIf="!hasMoreArtistFeed"
            class="text-center text-base md:text-xl text-gray-400 mt-[2rem]"
          >
            You have reached the end of your feed.
          </div>
        </div>
        <!-- No Artists Followed -->
        <div
          *ngIf="!isFetchingArtistFeed && artistFeed.length === 0"
          class="text-center text-gray-400 mt-8 text-lg md:text-xl italic bg-gray-800 p-4 rounded-lg"
        >
          Not following any artists
        </div>
        <!-- Loading spinner -->
        <div
          *ngIf="isFetchingArtistFeed && hasMoreArtistFeed"
          class="flex flex-col items-center justify-center py-6"
        >
          <div
            class="animate-spin rounded-full h-10 w-10 border-t-4 border-blue-500 border-opacity-50"
          ></div>
          <p class="mt-4 text-gray-400 text-lg md:text-2xl">
            Loading Artists Feed...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
