<nav
  class="bg-gray-700 bg-opacity-90 backdrop-blur-lg text-white px-6 py-6 flex items-center justify-between fixed w-full top-0 left-0 shadow-lg z-50 h-24"
  (click)="closeProfileMenuOnOutsideClick($event)"
>
  <div class="flex items-center gap-3">
    <div class="h-12 w-12 relative">
      <img
        src="../assets/music.png"
        alt="Logo"
        class="absolute inset-0 h-full w-full object-contain"
      />
    </div>
    <span class="text-2xl font-semibold">SoundCheck</span>
  </div>

  <div
    class="hidden md:flex absolute left-1/2 transform -translate-x-1/2 gap-10"
  >
    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="link rounded-md px-4 py-3 text-lg font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
      (click)="closeProfileMenu()"
    >
      Search
    </a>

    <a
      routerLink="/friends"
      routerLinkActive="active-link"
      class="link rounded-md px-4 py-3 text-lg font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
      (click)="closeProfileMenu()"
    >
      Following
    </a>
    <a
      routerLink="/profile"
      routerLinkActive="active-link"
      class="link rounded-md px-4 py-3 text-lg font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
      (click)="closeProfileMenu()"
    >
      Profile
    </a>
  </div>

  <div class="hidden md:flex items-center gap-4 relative">
    <div class="relative">
      <button
        (click)="toggleProfileMenu($event)"
        class="flex items-center rounded-full focus:outline-none"
      >
        <div class="h-16 w-16 relative">
          <img
            [src]="userProfile.profilePicture"
            alt="User Profile"
            class="absolute inset-0 h-full w-full rounded-full border-2 border-gray-700 shadow-md object-cover"
          />
        </div>
      </button>

      <div
        *ngIf="isProfileMenuOpen"
        class="absolute right-0 mt-2 w-56 bg-gray-800 text-gray-300 rounded-md shadow-lg py-2 z-50 border border-gray-700"
      >
        <a
          routerLink="/profile"
          class="block px-5 py-3 text-lg hover:bg-gray-700 hover:text-white rounded-md"
          (click)="closeProfileMenu()"
        >
          My Profile
        </a>
        <a
          routerLink="/friends"
          class="block px-5 py-3 text-lg hover:bg-gray-700 hover:text-white rounded-md"
          (click)="closeProfileMenu()"
        >
          Following
        </a>
        <button
          (click)="logout()"
          class="block w-full text-left px-5 py-3 text-lg text-red-400 hover:bg-gray-700 hover:text-red-300 rounded-md"
        >
          Logout
        </button>
      </div>
    </div>
  </div>

  <button (click)="toggleMenu()" class="md:hidden">
    <svg
      class="h-8 w-8 text-white"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
</nav>

<div
  *ngIf="isMenuOpen"
  class="fixed inset-0 bg-gray-800 bg-opacity-95 backdrop-blur-lg flex flex-col items-center justify-center space-y-6 text-white md:hidden z-50"
>
  <a
    routerLink="/"
    (click)="toggleMenu()"
    class="text-2xl text-gray-300 hover:text-white transition"
  >
    Search
  </a>

  <a
    routerLink="/friends"
    (click)="toggleMenu()"
    class="text-2xl text-gray-300 hover:text-white transition"
  >
    Friends
  </a>
  <a
    routerLink="/profile"
    (click)="toggleMenu()"
    class="text-2xl text-gray-300 hover:text-white transition"
  >
    Profile
  </a>
  <button
    (click)="logout()"
    class="bg-red-500 px-6 py-3 rounded-md text-xl text-white hover:brightness-110 transition"
  >
    Logout
  </button>
  <button
    (click)="toggleMenu()"
    class="absolute top-6 right-6 text-3xl text-white"
  >
    &times;
  </button>
</div>
