<div
  *ngIf="user"
  @fadeSlide
  class="container mx-auto max-w-4xl px-2 pb-6 bg-[#161A24] text-white rounded-lg md:pt-24"
>
  <!-- Profile Section -->
  <div class="flex items-center gap-6 relative">
    <div class="absolute top-0 w-full h-32 rounded-t-lg pointer-events-none"></div>
    <img
      [src]="user?.profilePicture || 'assets/user.png'"
      alt="Profile Picture"
      class="mt-4 mb-2 ml-2 w-[7.5rem] h-[7.5rem] md:w-[12rem] md:h-[12rem] rounded-full"
    />
    <div class="flex flex-col">
      <h2 class="text-xl md:text-4xl font-semibold break-words">
        {{ user?.username }}
      </h2>
      <p class="text-gray-400 text-sm md:text-lg mt-1">
        Joined {{ user?.createdAt | date }}
      </p>
    
      <!-- Friendship Action Button -->
      <ng-container *ngIf="user._id !== loggedInUser._id">
        <!-- Show Remove Button if already friends -->
        <button
          *ngIf="user.isFriend"
          (click)="removeFriend(user); $event.stopPropagation()"
          [disabled]="isLoadingFriendAction"
          class="p-2 mt-3 px-5 text-sm font-medium rounded-full bg-gradient-to-r from-red-500 to-red-700 text-white sm:hover:bg-red-700 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          <ng-container *ngIf="isLoadingFriendAction; else removeIcon">
        <i class="fas fa-spinner fa-spin"></i>
          </ng-container>
          <ng-template #removeIcon>
        <i class="fas fa-user-minus mr-1"></i> Remove Friend
          </ng-template>
        </button>
          
        <!-- Show Add / Pending / Received Status if not friends -->
        <button
          *ngIf="!user.isFriend"
          (click)="
        user.hasPendingRequestReceived
          ? acceptFriendRequest(user)
          : sendFriendRequest(user);
        $event.stopPropagation();
          "
          [disabled]="
          isLoadingFriendAction ||
          user.hasPendingRequestSent
        "
        class="p-2 mt-3 px-5 text-md font-medium rounded-full bg-gradient-to-r from-green-500 to-green-700 text-white sm:hover:bg-green-700 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          <ng-container *ngIf="isLoadingFriendAction; else addIcon">
        <i class="fas fa-spinner fa-spin"></i>
          </ng-container>
          <ng-template #addIcon>
        <i class="fas fa-user-plus mr-1"></i>
        {{
          user.hasPendingRequestSent
          ? 'Requested'
          : user.hasPendingRequestReceived
          ? 'Accept'
          : 'Add Friend'
        }}
          </ng-template>
        </button>
      </ng-container>
    </div>    
  </div>

  <!-- Friends Section -->
  <div class="mt-4 bg-[#152034] border border-gray-700 rounded-lg mb-2">
    <!-- Header Section -->
    <div class="flex justify-center items-center my-1 p-3">
      <h3 class="text-2xl font-semibold text-white flex items-center gap-2">
        <i class="fas fa-user-friends text-indigo-400 mr-1 text-xl"></i> Friends
        <span class="text-xl text-gray-500"
          >({{ user?.friends?.length || 0 }})</span
        >
      </h3>
    </div>

    <!-- Search Bar -->
    <div class="relative mb-3 px-2">
      <i
        class="fas fa-search absolute left-6 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></i>
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="filterFriends()"
        placeholder="Search friends..."
        class="w-full p-2 pl-10 rounded-lg bg-[#152034] text-white placeholder-gray-400 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
    </div>

    <!-- Conditional Messages -->
    <div
      *ngIf="user?.friends?.length === 0"
      class="text-center text-gray-400 py-4"
    >
      No friends available.
    </div>

    <div
      *ngIf="filteredFriends.length === 0 && user?.friends?.length > 0"
      class="text-center text-gray-400 py-4"
    >
      No friends found for "{{ searchQuery }}".
    </div>

    <!-- Scrollable Friends List -->
    <div
      *ngIf="filteredFriends.length > 0"
      class="max-h-[16.5rem] overflow-y-auto bg-[#0D1320] rounded-lg custom-scrollbar"
    >
      <div
        *ngFor="let friend of filteredFriends"
        (click)="goToFriendsPage(friend)"
        class="flex items-center gap-4 p-3 last:border-none transition-all hover:bg-[#161A24] cursor-pointer group hover:rounded-md"
      >
        <!-- Profile Picture (No Hover Effect) -->
        <img
          [src]="friend.profilePicture || 'assets/user.png'"
          alt="Friend"
          class="w-[4.5rem] h-[4.5rem] rounded-full"
        />

        <!-- Username -->
        <p class="text-lg font-medium text-white">{{ friend.username }}</p>
      </div>
    </div>
  </div>

  <!-- Reviews Section -->
  <div class="mt-5 mb-[5rem] bg-[#152034] border border-gray-700 rounded-lg">
    <h3 class="text-2xl font-semibold my-1 p-3 text-center">
      <i class="fas fas fa-comment-alt text-amber-400 mr-1 text-xl"></i> Reviews
      <span *ngIf="user?.reviews?.length > 0" class="text-xl text-gray-500">
        ({{ user.reviews.length }})
      </span>
    </h3>

    <div
      *ngIf="user?.reviews?.length; else noReviews"
      class="max-h-[17.5rem] md:max-h-[36.2rem] overflow-y-auto custom-scrollbar rounded-b-lg"
    >
      <div
        *ngFor="let review of user?.reviews; let last = last"
        (click)="openReview(review.albumSongOrArtist)"
        class="flex items-start p-4 bg-[#0D1320] shadow-md relative transition-all cursor-pointer group hover:bg-[#161A24] hover:p-4 hover:rounded-md"
      >
        <!-- Album Cover or Default Image -->
        <div
          class="relative h-[4.5rem] w-[4.5rem] md:w-[7rem] md:h-[7rem] flex-shrink-0"
        >
          <img
            [src]="review.albumSongOrArtist.cover"
            [src]="
              review.albumSongOrArtist.type === 'Artist'
                ? review.albumSongOrArtist.picture
                : review.albumSongOrArtist.cover
            "
            [alt]="
              review.albumSongOrArtist.type === 'Artist'
                ? review.albumSongOrArtist.name
                : review.albumSongOrArtist.title
            "
            class="h-[4.5rem] w-[4.5rem] md:w-[7rem] md:h-[7rem] rounded-md border-2 border-gray-600 shadow-sm"
          />

          <!-- Review Type Icon -->
          <div
            class="absolute top-0 left-0 bg-gray-700 p-1.5 rounded-full shadow-md transform -translate-x-2 -translate-y-2"
          >
            <i
              class="fas text-sm md:text-xl"
              [ngClass]="{
                'fa-music text-blue-400':
                  review.albumSongOrArtist.type === 'Song',
                'fa-compact-disc text-green-400':
                  review.albumSongOrArtist.type === 'Album',
                'fa-user text-purple-400':
                  review.albumSongOrArtist.type === 'Artist'
              }"
              title="{{ review.type }}"
            ></i>
          </div>
        </div>

        <!-- Review Content -->
        <div class="flex flex-col w-full ml-3 overflow-hidden w-full">
          <h4
            class="font-medium text-lg md:text-2xl truncate"
            style="max-width: calc(100%)"
          >
            {{
              review.albumSongOrArtist.type === "Artist"
                ? review.albumSongOrArtist.name
                : review.albumSongOrArtist.title || "Unknown Title"
            }}
          </h4>

          <p
            class="text-gray-300 text-sm md:text-lg w-full overflow-hidden text-ellipsis whitespace-nowrap"
            style="max-width: calc(100%)"
          >
            {{ review.reviewText }}
          </p>

          <!-- Rating -->
          <span class="text-yellow-400 font-semibold text-sm md:text-lg mt-2">
            ⭐ {{ review.rating }}/10
          </span>
        </div>
      </div>
    </div>

    <!-- No Reviews Message -->
    <ng-template #noReviews>
      <p class="text-gray-400 text-center p-4 bg-[#152034] rounded-lg text-lg">
        This user hasn't reviewed anything yet.
      </p>
    </ng-template>
  </div>
</div>
