input,
textarea {
  background-color: #1B2539 !important;
  color: white !important;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af !important; /* Placeholder text in light gray */
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: #1B2539 !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
/* Regular Login Loader (Colorful Spinner) */
.spinner {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff; /* White top */
  border-right-color: #818cf8; /* Indigo */
  border-left-color: #60a5fa; /* Blue */
  border-bottom-color: #facc15; /* Yellow */
  animation: spin 0.8s linear infinite;
}

/* Google Loader (Simple White Spinner) */
.google-loader {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 3px solid white;
  border-top-color: transparent;
  animation: spin 0.6s linear infinite;
}

/* Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-height: 710px) {
 .logoQuery{
  width: 10rem;
  height: 7.5rem
 }
}