<nav
  class="hidden md:flex bg-[#09101F] bg-opacity-50 backdrop-blur-lg text-white px-6 py-6 flex items-center justify-between fixed w-full top-0 left-0 z-50 h-[6rem] border-b border-b-gray-700"
  (click)="closeProfileMenuOnOutsideClick($event)"
>
  <div class="flex items-center gap-3">
    <div class="h-[6rem] w-[6rem] relative ml-4 mt-2">
      <img
        src="../assets/scLogo.png"
        alt="Logo"
        class="absolute inset-0 h-full w-full object-contain"
        routerLink="/"
      />
    </div>
  </div>

  <div class="hidden md:flex items-center gap-4 relative">
    <div class="relative">
      <button
        (click)="toggleProfileMenu($event)"
        class="flex items-center rounded-full focus:outline-none"
      >
        <div class="h-[5rem] w-[5rem] relative">
          <!-- Skeleton Loader (When Loading) -->
          <div
            *ngIf="isProfileLoading"
            class="absolute inset-0 flex items-center justify-center h-full w-full rounded-full border-2 border-gray-700 bg-gray-800"
          >
            <div
              class="w-6 h-6 border-t-2 border-white rounded-full animate-spin"
            ></div>
          </div>

          <!-- Profile Icon -->
          <img
            *ngIf="!isProfileLoading && userProfile?.profilePicture"
            [src]="getTransformedImageUrl(userProfile.profilePicture)"
            alt="Profile Picture"
            class="absolute inset-0 h-full w-full object-cover rounded-full border-2 border-gray-700"
          />
          <i
            *ngIf="!isProfileLoading && !userProfile?.profilePicture"
            class="fas fa-user-circle absolute inset-0 text-white text-6xl flex items-center justify-center"
          ></i>
        </div>
      </button>

      <div
        *ngIf="isProfileMenuOpen"
        @fadeScale
        class="absolute font-semibold right-0 mt-2 w-56 bg-[#09101F] text-gray-300 rounded-lg shadow-lg z-50 border border-gray-700"
      >
        <a
          routerLink="/"
          class="flex items-center px-5 py-5 text-lg hover:bg-gray-700/60 hover:text-white transition-all duration-200"
          (click)="closeProfileMenu()"
        >
          <i class="fas fa-home w-6 text-center"></i>
          <span class="ml-3">Home</span>
        </a>

        <a
          [routerLink]="['/profile', userProfile._id]"
          class="flex items-center px-5 py-5 text-lg hover:bg-gray-700/60 hover:text-white transition-all duration-200"
          (click)="closeProfileMenu()"
        >
          <i class="fas fa-user w-6 text-center"></i>
          <span class="ml-3">Profile</span>
        </a>

        <a
          routerLink="/friends"
          class="flex items-center px-5 py-5 text-lg hover:bg-gray-700/60 hover:text-white transition-all duration-200"
          (click)="closeProfileMenu()"
        >
          <i class="fas fa-users w-6 text-center"></i>
          <span class="ml-3">Friends</span>
        </a>

        <button
          (click)="logout()"
          class="flex items-center w-full text-left px-5 py-5 text-lg text-red-400 hover:bg-gray-700/60 hover:text-red-300 transition-all duration-200"
        >
          <i class="fas fa-sign-out-alt w-6 text-center"></i>
          <span class="ml-3">Logout</span>
        </button>
      </div>
    </div>
  </div>

  <button (click)="toggleMenu()" class="md:hidden">
    <svg
      class="h-8 w-8 text-white"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
</nav>
<div
  *ngIf="isMenuOpen"
  @fadeSlide
  class="fixed inset-0 bg-[#09101F]/90 backdrop-blur-lg flex flex-col items-center text-white md:hidden z-50 h-full py-10"
>
  <!-- Close Button -->
  <button
    (click)="toggleMenu()"
    class="absolute top-6 right-6 text-6xl text-gray-300 hover:text-white transition"
  >
    &times;
  </button>

  <!-- Navigation Links Wrapper -->
  <div
    class="flex flex-col items-center justify-center flex-1 w-full space-y-[5rem]"
  >
    <a
      routerLink="/"
      (click)="toggleMenu()"
      class="flex items-center gap-3 text-4xl font-semibold text-gray-300 hover:text-white transition"
    >
      <i class="fas fa-search"></i> Discover
    </a>

    <a
      routerLink="/friends"
      (click)="toggleMenu()"
      class="flex items-center gap-3 text-4xl font-semibold text-gray-300 hover:text-white transition"
    >
      <i class="fas fa-users"></i> Friends
    </a>

    <a
      routerLink="/profile"
      (click)="toggleMenu()"
      class="flex items-center gap-3 text-4xl font-semibold text-gray-300 hover:text-white transition"
    >
      <i class="fas fa-user"></i> Profile
    </a>
  </div>

  <!-- Logout Button -->
  <button
    (click)="logout()"
    class="flex items-center gap-3 bg-red-500 px-8 py-4 rounded-lg text-2xl font-semibold text-white hover:brightness-110 transition shadow-md mb-10"
  >
    <i class="fas fa-sign-out-alt"></i> Logout
  </button>
</div>

<!-- Bottom Navigation for Mobile -->
<div
  class="bg-[#09101F] p-0 shadow-lg flex md:hidden fixed bottom-0 w-full z-20 justify-around items-center h-[4rem] rounded-t-xl border-t border-t-gray-800"
>
  <button
    routerLink="/"
    (click)="setActiveTab('home')"
    [ngClass]="{
      'text-white': activeTab === 'home',
      'text-gray-400 opacity-50': activeTab !== 'home'
    }"
    class="flex flex-col items-center justify-center h-full flex-1 rounded-r"
  >
    <i
      class="fas fa-home text-xl transform transition-all duration-200 ease-out"
      [ngClass]="{
        'scale-110 text-white': activeTab === 'home',
        'scale-100 text-gray-100 opacity-50': activeTab !== 'home'
      }"
    ></i>

    <span
      class="transition-all duration-200"
      [ngClass]="{
        'translate-y-[0px] text-white': activeTab === 'home',
        'translate-y-[3px] text-gray-100 opacity-50': activeTab !== 'home'
      }"
      >Home</span
    >
  </button>

  <button
    routerLink="/friends"
    (click)="setActiveTab('friends')"
    [ngClass]="{
      'text-white': activeTab === 'friends',
      'text-gray-400 opacity-50': activeTab !== 'friends'
    }"
    class="flex flex-col items-center justify-center h-full flex-1 rounded"
  >
    <div class="relative">
      <i
        class="fas fa-users text-xl transform transition-all duration-200 ease-out"
        [ngClass]="{
          'scale-110 text-white': activeTab === 'friends',
          'scale-100 text-gray-100 opacity-50': activeTab !== 'friends'
        }"
      ></i>

      <span
        *ngIf="userProfile.friendInfo.friendRequestsReceived?.length"
        class="absolute -top-1 -right-[2rem] bg-red-500 text-white text-[0.8rem] font-bold px-[5px] py-[1px] rounded-full leading-none flex items-center justify-center w-[1.3rem] h-[1.3rem]"
      >
        {{ userProfile.friendInfo.friendRequestsReceived.length }}
      </span>
    </div>

    <span
      class="transition-all duration-200"
      [ngClass]="{
        'translate-y-[0px] text-white': activeTab === 'friends',
        'translate-y-[3px] text-gray-100 opacity-50': activeTab !== 'friends'
      }"
    >
      Friends
    </span>
  </button>

  <button
    [routerLink]="['/profile', userProfile._id]"
    (click)="setActiveTab('profile')"
    [ngClass]="{
      'text-white': activeTab === 'profile',
      'text-gray-100 opacity-50': activeTab !== 'profile'
    }"
    class="flex flex-col items-center justify-center relative h-full flex-1 rounded-l"
  >
    <i
      class="fas fa-user text-xl transform transition-all duration-200 ease-out"
      [ngClass]="{
        'scale-110 text-white': activeTab === 'profile',
        'scale-100 text-gray-100 opacity-50': activeTab !== 'profile'
      }"
    ></i>

    <span
      class="transition-all duration-200"
      [ngClass]="{
        'translate-y-[0px] text-white': activeTab === 'profile',
        'translate-y-[3px] text-gray-100 opacity-50': activeTab !== 'profile'
      }"
    >
      Profile
    </span>
  </button>
</div>
