<div class="w-full flex justify-center">
  <div class="w-full max-w-md flex items-center justify-center gap-6 p-3">
    <!-- Backward Button -->
    <button
      class="text-gray-700 hover:text-white text-3xl w-14 h-14 flex items-center justify-center"
    >
      <i class="fas fa-backward"></i>
    </button>

    <!-- Play/Pause Button -->
    <button
      (click)="togglePlay()"
      class="bg-gray-700 text-gray-300 hover:bg-white hover:text-gray-800 w-16 h-16 flex-none rounded-full flex items-center justify-center shadow-md transition-colors duration-200"
    >
      <i class="{{ isPlaying ? 'fas fa-pause' : 'fas fa-play' }} text-3xl"></i>
    </button>

    <!-- Forward Button -->
    <button
      class="text-gray-700 hover:text-white text-3xl w-14 h-14 flex items-center justify-center"
    >
      <i class="fas fa-forward"></i>
    </button>
  </div>
</div>

<!-- Hidden Audio Element -->
<audio #myAudio [src]="record?.preview" style="display: none"></audio>
