<div class="bg-[#020814] text-white pb-[4rem] md:pb-8 md:pt-[0.5rem]">
  <div class="marquee-container">
    <div
      class="marquee-track"
      *ngIf="!isMarqueeLoading; else loading"
      @fadeSlideIn
      (mouseenter)="setPointerOver(true)"
      (mouseleave)="setPointerOver(false)"
      (touchstart)="setPointerOver(true)"
      (touchend)="setPointerOver(false)"
    >
      <ng-container *ngFor="let item of loopedItems; let i = index; trackBy: trackByIndex">
        <div class="cinema-card-wrapper" @itemAnim (click)="onCardClick(item, i)">
          <div class="cinema-card-outer w-[7rem] md:w-[10rem] rounded-lg overflow-hidden">
          <div class="cinema-card relative h-[10.5rem] md:h-[15rem]">
            <div *ngIf="!marqueeImageLoaded[i]" class="absolute inset-0 flex items-center justify-center bg-gray-800">
              <div class="w-5 h-5 border-t-2 border-white rounded-full animate-spin"></div>
            </div>

            <img
              [src]="
                item.cover ||
                'https://res.cloudinary.com/drbccjuul/image/upload/e_improve:outdoor/m2bmgchypxctuwaac801'
              "
              [alt]="item.title"
              decoding="async"
              (load)="onImageLoaded(i)"
              (error)="onImageLoaded(i)"
              [class.invisible]="!marqueeImageLoaded[i % items.length]"
              class="w-full h-full object-cover"
            />

            <app-cinema-badge
              *ngIf="marqueeImageLoaded[i]"
              class="cinema-badge--overlay"
              [badge]="marqueeBadge(item)"
            ></app-cinema-badge>
          </div>

          <div class="cinema-card-info">
            <p class="cinema-card-title truncate">{{ item.title }}</p>
            <p class="cinema-card-date">{{ releaseMonthYear(item) }}</p>
            <p *ngIf="item.genres?.length" class="cinema-card-genre truncate" [title]="item.genres?.join(', ')">
              {{ item.genres?.join(', ') }}
            </p>
          </div>
          </div>
        </div>
      </ng-container>
    </div>

    <ng-template #loading>
      <div class="marquee-track">
        <div
          *ngFor="let _ of skeletonArray"
          class="skeleton-card bg-[#1F2937] p-3 rounded-lg h-[12.7rem] md:h-[17.2rem] w-[7rem] md:w-[10rem] shrink-0"
        >
          <div class="skeleton-img"></div>
          <div class="skeleton-text-group w-full flex flex-col items-start">
            <div class="skeleton-text mt-3 h-4 w-3/4"></div>
            <div class="skeleton-text mt-2 h-4 w-1/2"></div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
