<div class="w-full flex justify-center paddingFix">
  <div class="w-full max-w-md flex items-center justify-center gap-6 p-3">
<!-- Ring Loader -->
<ng-container *ngIf="isLoading; else playerControls">
  <div class="w-full flex justify-center items-center">
    <div class="w-10 h-10 border-4 border-gray-600 border-t-white rounded-full animate-spinLoader"></div>
  </div>
</ng-container>


    <!-- Actual Player -->
    <ng-template #playerControls>
      <!-- Backward Button -->
      <button
        *ngIf="showForwardAndBackwardButtons"
        [style.visibility]="currentIndex > 0 ? 'visible' : 'hidden'"
        class="text-gray-700 hover:text-white text-3xl w-14 h-14 flex items-center justify-center"
        (click)="onPreviousClick()"
      >
        <i class="fas fa-backward"></i>
      </button>

      <!-- Play/Pause Button -->
      <button
        (click)="togglePlay()"
        class="bg-gray-700 text-gray-300 hover:bg-white hover:text-gray-800 w-16 h-16 flex-none rounded-full flex items-center justify-center shadow-md transition-colors duration-200"
      >
        <i class="{{ isPlaying ? 'fas fa-pause' : 'fas fa-play' }} text-3xl"></i>
      </button>

      <!-- Forward Button -->
      <button
        *ngIf="showForwardAndBackwardButtons"
        [style.visibility]="currentIndex < songList.length - 1 ? 'visible' : 'hidden'"
        class="text-gray-700 hover:text-white text-3xl w-14 h-14 flex items-center justify-center"
        (click)="onNextClick()"
      >
        <i class="fas fa-forward"></i>
      </button>
    </ng-template>
  </div>
</div>

<!-- Hidden Audio Element -->
<audio #myAudio [src]="record?.preview" style="display: none"></audio>
