<div class="flex text-white min-h-screen w-full pt-[4.5rem]">
  <!-- Navigation for Medium to large screens -->
  <div
    class="hidden md:flex bg-[#0E1829] shadow-lg flex-col fixed top-[5rem] pt-5 left-0 h-screen md:w-[22%] z-10"
  >
    <button
      (click)="setActiveTab('myFriends')"
      [ngClass]="{
        'text-[#4C79F4]': activeTab === 'myFriends',
        'text-gray-400': activeTab !== 'myFriends'
      }"
      class="larger-desktop-icons flex flex-col items-center justify-center p-8 text-white text-xl transition transform relative"
    >
      <i class="fas fa-users text-3xl"></i>
      <span class="hidden md:inline mt-1">Friends</span>
    </button>

    <button
      (click)="setActiveTab('addFriends')"
      [ngClass]="{
        'text-[#4C79F4]': activeTab === 'addFriends',
        'text-gray-400': activeTab !== 'addFriends'
      }"
      class="larger-desktop-icons flex flex-col items-center justify-center p-8 text-white text-xl transition transform"
    >
      <i class="fas fa-user-plus text-3xl"></i>
      <span class="hidden md:inline mt-1">Search</span>
    </button>

    <button
      (click)="setActiveTab('friendRequests')"
      [ngClass]="{
        'text-[#4C79F4]': activeTab === 'friendRequests',
        'text-gray-400': activeTab !== 'friendRequests'
      }"
      class="larger-desktop-icons flex flex-col items-center justify-center p-8 text-white text-xl transition transform relative"
    >
      <div class="relative">
        <i class="fas fa-envelope text-3xl"></i>
        <span
          *ngIf="userProfile.friendInfo.friendRequestsReceived?.length"
          class="absolute -top-4 -right-8 bg-red-500 text-white text-xs font-bold px-2 py-1 rounded-full"
        >
          {{ userProfile.friendInfo.friendRequestsReceived.length }}
        </span>
      </div>
      <span class="hidden md:inline mt-1">Requests</span>
    </button>
  </div>

  <!-- Top Navigation for Mobile -->
  <div class="md:hidden fixed top-0 w-full z-20 bg-[#0F1722] shadow-lg">
    <!-- Heading -->
    <!-- <div class="h-[3rem] flex items-center justify-center">
      <h1 class="text-white text-3xl font-bold flex items-center">
        <ng-container [ngSwitch]="activeTab">
          <span *ngSwitchCase="'myFriends'" class="tab-title">My Friends</span>
          <span *ngSwitchCase="'friendRequests'" class="tab-title"
            >Friend Requests</span
          >
          <span *ngSwitchCase="'addFriends'" class="tab-title"
            >Add Friends</span
          >
        </ng-container>
        <span
          *ngIf="activeTab === 'myFriends'"
          class="text-gray-400 text-2xl ml-2 tab-title-count"
        >
          ({{ userProfile.friendInfo.friends.length || 0 }})
        </span>
        <span
          *ngIf="activeTab === 'friendRequests'"
          class="text-gray-400 text-2xl ml-2 tab-title-count"
        >
          ({{ userProfile.friendInfo.friendRequestsReceived.length || 0 }})
        </span>
      </h1>
    </div> -->

    <!-- Buttons Row with shared border -->
    <div class="relative bg-[#0F1722]">
      <div
        class="flex justify-around items-center h-[3.5rem] border-b border-gray-700 relative"
      >
        <!-- Highlight Underline -->
        <div
          class="absolute bottom-[-.04rem] h-[2px] bg-[#4C79F4] transition-all duration-300"
          [ngStyle]="{
            width:
              activeTab === 'myFriends'
                ? '60px'
                : activeTab === 'friendRequests'
                ? '85px'
                : '90px',
            left:
              activeTab === 'myFriends'
                ? 'calc(16.66% - 30px)'
                : activeTab === 'friendRequests'
                ? 'calc(50% - 42.5px)'
                : 'calc(83.33% - 45px)'
          }"
        ></div>

        <!-- Friends -->
        <button
          (click)="setActiveTab('myFriends')"
          class="flex flex-col items-center justify-center flex-1"
        >
          <span
            [ngClass]="{
              'text-gray-200 font-semibold': activeTab === 'myFriends',
              'text-gray-400': activeTab !== 'myFriends'
            }"
            class="text-lg"
          >
            Friends
          </span>
        </button>

        <!-- Requests -->
        <button
          (click)="setActiveTab('friendRequests')"
          class="flex flex-col items-center justify-center flex-1"
        >
          <span
            [ngClass]="{
              'text-gray-200 font-semibold': activeTab === 'friendRequests',
              'text-gray-400': activeTab !== 'friendRequests'
            }"
            class="text-lg"
          >
            Requests
          </span>
        </button>

        <!-- Add Friend -->
        <button
          (click)="setActiveTab('addFriends')"
          class="flex flex-col items-center justify-center flex-1"
        >
          <span
            [ngClass]="{
              'text-gray-200 font-semibold': activeTab === 'addFriends',
              'text-gray-400': activeTab !== 'addFriends'
            }"
            class="text-lg"
          >
            Search
          </span>
        </button>
      </div>
    </div>
  </div>

  <!-- Right Content Area (Changes Dynamically) -->
  <div
    class="flex-1 sm:p-3 overflow-y-auto min-h-[calc(100vh-80px)] pb-20 md:ml-[22%]"
  >
    <!-- My Friends Section -->
    <div #friendsSection *ngIf="activeTab === 'myFriends'">
      <div class="w-full sm:max-w-[800px] sm:mx-auto sm:rounded-lg">
        <h2
          class="hidden md:block text-3xl font-semibold mb-4 pt-14 text-center"
        >
          My Friends
          <span class="text-gray-400 text-2xl ml-2">
            ({{ userProfile.friendInfo.friends.length || 0 }})
          </span>
        </h2>

<span
  *ngIf="activeTab === 'myFriends'"
  class="md:hidden block text-gray-400 text-lg pl-6"
>
  <span class="text-white font-semibold">Friends</span>
  <span class="text-base text-gray-400">({{ userProfile.friendInfo.friends.length || 0 }})</span>
</span>

        <!-- Search Bar -->
        <div
          #searchBar
          class="relative w-[95%] sm:max-w-[800px] mb-6 mx-auto pt-[.5rem] md:pt-0"
        >
          <input
            type="text"
            [(ngModel)]="searchQuery"
            placeholder="{{ getSearchPlaceholder() }}"
            (keyup.enter)="searchUsers()"
            class="w-full rounded-full bg-[#09101F] border border-gray-600 text-white py-3 pl-5 pr-12 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none text-lg shadow-md"
          />
          <i
            class="fas fa-search absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-400 pt-[.5rem] md:pt-0"
          ></i>
        </div>

        <div
          *ngIf="retrievingFriendInfo"
          class="mt-6 w-full max-w-3xl mx-auto flex flex-col justify-center items-center"
        >
          <div
            class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-opacity-50"
          ></div>
          <p class="text-gray-400 text-lg mt-4">Loading Friends...</p>
        </div>

        <div
          *ngIf="!retrievingFriendInfo && filteredFriends().length > 0"
          class="sm:max-w-[800px] mx-auto sm:rounded-lg"
        >
          <ul>
            <li
              *ngFor="
                let friend of filteredFriends();
                let i = index;
                let last = last
              "
              [routerLink]="['/profile', friend._id]"
              [state]="{ section: 'myFriends' }"
              [ngClass]="[
                'flex items-center bg-[#09101F] p-3 w-full',
                i !== 0 ? '' : 'sm:rounded-t-xl',
                !last ? '' : 'sm:rounded-b-xl'
              ]"
            >
              <!-- Profile Image on the left -->
              <div
                class="relative w-[3.5rem] h-[3.5rem] md:w-[5rem] md:h-[5rem] mr-4 rounded-full overflow-hidden"
              >
                <!-- Loader -->
                <div
                  *ngIf="!isImageLoaded(i, 'friend')"
                  class="absolute inset-0 flex items-center justify-center bg-gray-800 border border-gray-600 rounded-full"
                >
                  <div
                    class="w-4 h-4 border-t-2 border-white rounded-full animate-spin"
                  ></div>
                </div>

                <!-- Image -->
                <img
                  [src]="friend.profilePicture || 'assets/user.png'"
                  (load)="markImageLoaded(i, 'friend')"
                  (error)="markImageLoaded(i, 'friend')"
                  [class.invisible]="!isImageLoaded(i, 'friend')"
                  alt="Profile"
                  class="w-full h-full object-cover rounded-full shadow-md"
                />
              </div>
              <!-- Username in the middle -->
              <div class="flex-1">
                <h2 class="text-base md:text-lg font-semibold text-gray-200">
                  {{ friend.username }}
                </h2>
              </div>

              <!-- Buttons on the far right, stacked -->
              <div class="flex flex-col gap-2">
                <button
                  (click)="openModal(friend); $event.stopPropagation()"
                  [disabled]="removingFriendId === friend._id"
                  class="p-2 px-3 text-xs md:text-base font-medium rounded-full bg-gray-800 text-gray-300 hover:bg-gray-700 disabled:opacity-50 disabled:cursor-not-allowed ml-1 transition"
                >
                  <ng-container
                    *ngIf="removingFriendId === friend._id; else buttonContent"
                  >
                    <i class="fas fa-spinner fa-spin"></i> Removing...
                  </ng-container>
                  <ng-template #buttonContent>
                    <i class="fas fa-user-check mr-1"></i> Friends
                  </ng-template>
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div
          *ngIf="
            !retrievingFriendInfo &&
            (!userProfile?.friendInfo?.friends ||
              userProfile.friendInfo.friends.length === 0)
          "
        >
          <p
            class="text-center text-gray-400 text-lg mt-[5.5rem] bg-gray-800 p-4 rounded-lg mx-4"
          >
            You have no friends yet.
          </p>
        </div>

        <div
          *ngIf="
            !retrievingFriendInfo &&
            filteredFriends().length === 0 &&
            userProfile?.friendInfo?.friends &&
            userProfile.friendInfo.friends.length > 0
          "
          class="text-center text-gray-400 py-4"
        >
          No friends found for "{{ searchQuery }}".
        </div>
      </div>
    </div>

    <!-- Friend Requests Section -->
    <div #friendRequestsSection *ngIf="activeTab === 'friendRequests'">
      <div class="bg-[#09101F] mx-auto sm:rounded-lg sm:max-w-[800px]">
        <h2
          class="hidden md:block text-3xl font-semibold mb-5 pt-14 items-center text-center"
        >
          Friend Requests
          <span class="text-gray-400 text-2xl ml-2">
            ({{ userProfile.friendInfo.friendRequestsReceived.length || 0 }})
          </span>
        </h2>

        <div
          *ngIf="retrievingFriendInfo"
          class="mt-[5rem] w-full max-w-3xl mx-auto flex flex-col justify-center items-center"
        >
          <div
            class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-opacity-50"
          ></div>
          <p class="text-gray-400 text-lg mt-4">Loading Friend Requests...</p>
        </div>

        <!-- Friend Requests List -->
        <div
          *ngIf="
            !retrievingFriendInfo &&
              userProfile?.friendInfo?.friendRequestsReceived?.length;
            else noRequests
          "
        >
          <ul class="pt-[3rem] md:pt-0">
            <li
              *ngFor="
                let request of userProfile.friendInfo.friendRequestsReceived;
                let i = index;
                let last = last
              "
              [routerLink]="['/profile', request._id]"
              [state]="{ section: 'friendRequests' }"
              [ngClass]="[
                'flex items-center bg-[#09101F] p-3 w-full',
                i !== 0 ? '' : 'sm:rounded-t-xl',
                !last ? '' : 'sm:rounded-b-xl'
              ]"
            >
              <!-- Left: Profile Image -->
              <img
                [src]="request.profilePicture || 'assets/user.png'"
                alt="Profile"
                class="w-[3.5rem] h-[3.5rem] md:w-[5rem] md:h-[5rem] object-cover rounded-full object-cover shadow-md mr-4"
              />

              <!-- Middle: Username -->
              <div class="flex-1">
                <span class="text-base md:text-lg font-semibold text-gray-200">
                  {{ request.username }}
                </span>
              </div>

              <!-- Right: Action Buttons -->
              <div
                class="flex flex-col items-end py-2"
                (click)="$event.stopPropagation()"
              >
                <button
                  (click)="acceptFriendRequest(request)"
                  [disabled]="acceptLoadingMap[request._id]"
                  class="p-2 px-4 text-sm md:text-lg font-medium rounded-lg bg-[#3E364D] text-gray-100 hover:bg-gray-800 disabled:opacity-50 disabled:cursor-not-allowed transition flex items-center gap-2"
                >
                  <ng-container
                    *ngIf="acceptLoadingMap[request._id]; else buttonContent"
                  >
                    <i class="fas fa-spinner fa-spin"></i>
                    Loading...
                  </ng-container>
                  <ng-template #buttonContent>
                    <i class="fas fa-check"></i>
                    Accept
                  </ng-template>
                </button>

                <button
                  (click)="declineFriendRequest(request)"
                  [disabled]="declineLoadingMap[request._id]"
                  class="p-2 px-[1.05rem] text-sm md:text-lg font-medium rounded-lg bg-red-600 text-white hover:bg-red-700 disabled:opacity-50 disabled:cursor-not-allowed transition flex items-center gap-2 mt-5"
                >
                  <ng-container
                    *ngIf="
                      declineLoadingMap[request._id];
                      else declineButtonContent
                    "
                  >
                    <i class="fas fa-spinner fa-spin"></i>
                    Loading...
                  </ng-container>
                  <ng-template #declineButtonContent>
                    <i class="fas fa-times"></i>
                    Decline
                  </ng-template>
                </button>
              </div>
            </li>
          </ul>
        </div>
        <ng-template #noRequests>
          <p
            *ngIf="!retrievingFriendInfo"
            class="text-center text-gray-400 text-xl bg-gray-800 p-4 rounded-lg mx-4 mt-[7rem]"
          >
            No pending friend requests.
          </p>
        </ng-template>
      </div>
    </div>

    <!-- Add Friends Section -->
    <div #addFriendsSection>
      <!-- Scrollable User List -->
      <div
        *ngIf="activeTab === 'addFriends'"
        class="bg-[#09101F] w-full mx-auto overflow-y-auto h-full rounded-lg sm:max-w-[800px]"
      >
        <h2
          class="hidden md:block text-3xl font-semibold mb-4 pt-14 ml-2 text-center"
        >
          Add Friends
        </h2>

        <!-- Search Bar -->
        <div
          #searchBar
          class="relative mb-6 w-[95%] sm:max-w-[800px] mx-auto pt-[.5rem] md:pt-0"
        >
          <input
            type="text"
            [(ngModel)]="searchQuery"
            placeholder="{{ getSearchPlaceholder() }}"
            (keydown.enter)="searchUsers()"
            class="w-full rounded-full bg-[#09101F] border border-gray-600 text-white py-3 pl-5 pr-12 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none text-lg shadow-md"
          />
          <i
            (click)="searchUsers()"
            class="fas fa-search absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-400 cursor-pointer pt-[.5rem] md:pt-0"
          ></i>
        </div>
        <!-- Show Skeleton Loader While Searching -->
        <div
          *ngIf="addFriendsSearchLoading"
          class="mt-6 w-full max-w-3xl mx-auto flex flex-col justify-center items-center"
        >
          <div
            class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-opacity-50"
          ></div>
          <p class="text-gray-400 text-lg mt-4">Searching...</p>
        </div>

        <!-- Display Users (Only if users are found) -->
        <div
          *ngIf="usersToAdd.length > 0 && !addFriendsSearchLoading"
          class="rounded-lg"
        >
          <ul>
            <li
              *ngFor="let user of usersToAdd; let i = index; let last = last"
              [routerLink]="['/profile', user._id]"
              [state]="{ section: 'addFriends' }"
              [ngClass]="[
                'flex items-center bg-[#09101F] p-3 w-full',
                i !== 0 ? '' : 'sm:rounded-t-xl',
                !last ? '' : 'sm:rounded-b-xl'
              ]"
            >
              <!-- Profile Image -->
              <div
                class="relative w-[3.5rem] h-[3.5rem] md:w-[5rem] md:h-[5rem] mr-4 rounded-full overflow-hidden"
              >
                <!-- Loader -->
                <div
                  *ngIf="!isImageLoaded(i, 'user')"
                  class="absolute inset-0 flex items-center justify-center bg-gray-800 border border-gray-600 rounded-full"
                >
                  <div
                    class="w-4 h-4 border-t-2 border-white rounded-full animate-spin"
                  ></div>
                </div>

                <!-- Image -->
                <img
                  [src]="user.profilePicture || 'assets/user.png'"
                  (load)="markImageLoaded(i, 'user')"
                  (error)="markImageLoaded(i, 'user')"
                  [class.invisible]="!isImageLoaded(i, 'user')"
                  alt="Profile"
                  class="w-full h-full object-cover rounded-full shadow-md"
                />
              </div>

              <!-- Username -->
              <div class="flex-1 min-w-0">
                <h2
                  class="text-base md:text-lg font-semibold text-gray-200 mb-3 break-words whitespace-normal"
                >
                  {{ user.username }}
                </h2>
              </div>
            </li>
          </ul>
        </div>

        <!-- Show "No Users Found" Message Only When Search Has Completed -->
        <p
          *ngIf="
            addFriendsSearchInitiated &&
            !addFriendsSearchLoading &&
            usersToAdd.length === 0
          "
          class="text-center text-gray-400 text-lg mt-[5.5rem] bg-gray-800 p-4 rounded-lg mx-4"
        >
          No users found.
        </p>
      </div>
    </div>
  </div>
</div>
