@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-[#161A24] text-white;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal,
.modal.fade .modal-dialog,
.modal-backdrop {
  transition: none !important;
  animation: none !important;
}

/* Custom Dark Mode Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
  transition: background 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.no-scroll {
  overflow: hidden;
  height: 100vh; /* Prevent scrolling */
}
* {
  font-family: 'Poppins', sans-serif;
}