/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-gray-900 text-white;
    margin: 0;  /* Make sure there's no default body margin */
    padding: 0;
    height: 100%;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal,
.modal.fade .modal-dialog,
.modal-backdrop {
  transition: none !important;
  animation: none !important;
}
.title-text {
  letter-spacing: 1.2px;
}

/* Custom Dark Mode Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
  transition: background 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666;
}